<li class='item'>
    {{ with .Params.suppressPostedDate }}
      <div class='meta'>
        {{ partial "list/date" . }}
      </div>
    {{ end }}
    <header class='item-header'>
      <h3 class='item-title'>
        <a href='{{ .Permalink | relURL }}'>
          {{- .Title -}}
        </a>
      </h3>
    </header>
  </li>
  